[submodule "01-intro-react"]
	path = 01-intro-react
	url = https://github.com/pandc19/react-01-intro-react.git
[submodule "02-intro-javascript"]
	path = 02-intro-javascript
	url = https://github.com/pandc19/react-02-intro-javascript.git
[submodule "03-counter-app-cra"]
	path = 03-counter-app-cra
	url = https://github.com/pandc19/react-03-counter-app-cra.git
[submodule "03-counter-app-vite"]
	path = 03-counter-app-vite
	url = https://github.com/pandc19/react-03-counter-app-vite.git
[submodule "04-gif-expert-app"]
	path = 04-gif-expert-app
	url = https://github.com/pandc19/react-04-gif-expert-app.git
[submodule "05-hook-app"]
	path = 05-hook-app
	url = https://github.com/pandc19/react-05-hook-app.git
